{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	body {
	  color: rgb(120, 120, 120);
	}

  form{
    max-width: 400px;
  }

  .maincolor{
    color:rgb(79, 159, 207)
  }

  #questionlist{
    font-size: 18px;
  }

</style>
{% endblock %}
 

{% block content %} 

        <div class='row'>
          <div class='col-md-6'>

<h2>Add an Answer</h2>
            <hr>

          <div class="alert alert-info alert-dismissable" style='padding-top:10px; padding-bottom:10px'>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            You can only add answers to questions you asked in the last 10 minutes
          </div>

        {% if added %}
          <div class="alert alert-info alert-dismissable" style='padding-top:10px; padding-bottom:10px'>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            "{{added}}" was added
          </div>
        {% endif %}

            <form method='post' enctype="multipart/form-data">{% csrf_token %}{% load crispy_forms_tags %}
            {% crispy form %}
            </form>

          </div>
          <div class='col-md-6'>
            <h4 class='page-header'>Recent Questions</h4>
            <ul id='questionlist'>
            {% for q in questions %}
              <li><b>{{q.question}}</b></li>
                <ul style='list-style-type:none'>
                {% for a in q.answer_set.all %}
                    <li><button class='btn btn-xs'>{{a.answer}}</button></li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
          </div>
        </div>

{% endblock %}







{% block scripts %}


{% endblock %}



