{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	body {
	  color: rgb(120, 120, 120);
	}

</style>
{% endblock %}
 

{% block content %} 

        <div class='row'>
          <div class='col-md-12'>

            <h2>Rankings</h2>
            <hr>
            <ol>
              {% for q in questions%}
                    <li>{{q.user__username}} --  {{q.sumpts}}</li>
             {% endfor %}
            </ol>

          </div>
        </div>
{% endblock %}





{% block scripts %}


{% endblock %}



