{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<br>
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-signin">
        {% csrf_token %}
        <p><label for="id_oldpassword">Current Password:</label> <input id="id_oldpassword" name="oldpassword" placeholder="Password" type="password" class='form-control'/></p>
		<p><label for="id_password1">New Password:</label> <input id="id_password1" name="password1" placeholder="Password" type="password" class='form-control'/></p>
		<p><label for="id_password2">New Password (again):</label> <input id="id_password2" name="password2" placeholder="Password" type="password" class='form-control'/></p>
        <button type="submit" name="action" class='btn'>{% trans "Change Password" %}</button>
    </form>
{% endblock %}
