{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<br>
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}


<p><label for="id_username">Username:</label> <input autofocus="autofocus" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" class='form-control'/></p>
<p><label for="id_email">E-mail:</label> <input id="id_email" name="email" placeholder="E-mail address" type="text" class='form-control'/></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" placeholder="Password" type="password" class='form-control'/></p>
<p><label for="id_password2">Password (again):</label> <input id="id_password2" name="password2" placeholder="Password" type="password" class='form-control'/><input id="id_confirmation_key" name="confirmation_key" type="hidden" /></p>
  

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class='btn btn-lg'>{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}


